:root{
    --image-width: 15vw;
    --image-height: calc(var(--image-width));
}
.App {
    text-align: center;
    margin-left: 18vw;
    margin-right: 15vw;
}
.imageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 80%;
}
.imageContainer img {
    width: var(--image-width);
    height: var(--image-height);
}
